<body style="margin: 0; padding: 0;font-family: verdana,arial,sans-serif;color: #333;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <h2>GPA: <%= @gpa[:gpa] %></h2>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                    <tr>
                        <td>
                          <table>
                              <thead>
                                  <th>课程名</th>
                                  <th>学分</th>
                                  <th>得分</th>
                                  <th>绩点</th>
                                  <th>属性</th>
                              </thead>
                              <tbody>
                                  <% @scores.each do |s| %>
                                  <tr style="<%= 'color: #28bea0;' if @diff.include? s[:name] %>">
                                      <td><%= s[:name] %></td>
                                      <td><%= s[:credit] %></td>
                                      <td><%= s[:grade] %></td>
                                      <td><%= s[:point] %></td>
                                      <td><%= s[:prop] %></td>
                                  </tr>
                                  <% end %>
                              </tbody>
                          </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <table>
                              <thead>
                                  <th>Course Name</th>
                                  <th>Credit</th>
                                  <th>Grade</th>
                                  <th>GPA</th>
                                  <th>Prop</th>
                              </thead>
                              <tbody>
                                  <% @scores.each do |s| %>
                                  <tr style="<%= 'color: #28bea0;' if @diff.include? s[:name] %>">
                                      <td><%= s[:eng_name] %></td>
                                      <td><%= s[:credit] %></td>
                                      <td><%= s[:eng_grade] %></td>
                                      <td><%= s[:point] %></td>
                                      <td><%= s[:prop] == '必修' ? 'required' : 'elective' %></td>
                                  </tr>
                                  <% end %>
                              </tbody>
                          </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
