<% @border_color = "rgb(182, 182, 182)" %>

<style type="text/css">
  table {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333;
    border-width: 1px;
    border-color: <%= @border_color %>;
    border-collapse: collapse;
  }
  table th {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: <%= @border_color %>;
  }
  table td {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: <%= @border_color %>;
  }
  tr {
    text-align: center;
  }
  .diff {
    font-weight: bold;
  }

</style>

<h4>本学期绩点为：<%= @gpa[:gpa] %></h4>
<table>
  <thead>
    <th>课程名</th>
    <th>学分</th>
    <th>得分</th>
    <th>绩点</th>
    <th>课程属性</th>
  </thead>
  <tbody>
    <% @scores.each do |s| %>
    <tr class="<%= 'diff' if @diff.include? s[:name] %>" >
      <td><%= s[:name] %></td>
      <td><%= s[:credit] %></td>
      <td><%= s[:grade] %></td>
      <td><%= s[:point] %></td>
      <td><%= s[:prop] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
