<% @border_color = "rgb(182, 182, 182)" %>

<style type="text/css">
  table {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333;
    border-width: 1px;
    border-color: <%= @border_color %>;
    border-collapse: collapse;
  }
  table th {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: <%= @border_color %>;
  }
  table td {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: <%= @border_color %>;
  }
  tr {
    text-align: center;
  }

</style>

<% @gpas.each_with_index do |g, i| %>
  <p><%= "第#{i + 1}学期的GPA：#{g[:gpa]}，总学分：#{g[:credit]}"%></p>
<% end %>
<hr>

<% @gpas.each_with_index do |g, i| %>
  <% next if i % 2 == 0 %>
  <% credit = @gpas[i-1][:credit] + g[:credit] %>
  <% gpa = ((g[:gpa] * g[:credit] + @gpas[i-1][:gpa] * @gpas[i-1][:credit]) / credit).round(3) %>
  <p><%= "第#{(i + 1)/2}年的GPA：#{gpa}，总学分：#{credit}"%></p>
<% end %>
<hr>

<% point = @gpas.inject(0){ |res, g| res + g[:gpa] * g[:credit] }%>
<% credit = @gpas.inject(0){ |res, g| res + g[:credit] }%>
<% gpa = (point / credit).round(3) %>
<p><%= "总GPA：#{gpa}，总学分：#{credit}"%></p>
<hr>

<% @scores.each do |ts| %>
  <table>
    <thead>
      <th>课程名</th>
      <th>学分</th>
      <th>得分</th>
      <th>绩点</th>
      <th>课程属性</th>
    </thead>
    <tbody>
      <% ts.each do |s| %>
        <tr>
          <td><%= s[:name] %></td>
          <td><%= s[:credit] %></td>
          <td><%= s[:grade] %></td>
          <td><%= s[:point] %></td>
          <td><%= s[:prop] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <br>
<% end %>
